html{
 	background-image: url("https://img00.deviantart.net/8056/i/2008/291/0/6/clean_by_mrporter.jpg"); 	
}

 #sobre {

	background-image: url("https://www.drodd.com/images14/white-wallpaper10.jpg");
 	color: darkblue; 
 }

 #experiencia {
	background-image: url("https://www.drodd.com/images14/white-wallpaper10.jpg");
 	color: darkblue; 
 }

 #complementares{
	background-image: url("https://www.drodd.com/images14/white-wallpaper10.jpg");
 	color: darkblue; 
 }

 #portifolio{
 	background: darkgray;
 	color: black;
 }

 #dadospessoais{
 	background-image: url("http://2.bp.blogspot.com/_2UbsSBz9ckE/SvIxtEWdyUI/AAAAAAAAATk/1AUfIZnRKUU/s1600/Windows_7_special_clean_HD_wallpaper+2.jpg");
 	color: white; 
 }
